name: vprofile actions
on: workflow_dispatch
env:
  AWS_REGION: us-east-2
  ECR_REPOSITORY: vpro-gitops
  EKS_CLUSTER: vprofile-eks

jobs:
  BUILD_AND_PUBLISH:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Upload image to ECR
        uses: appleboy/docker-ecr-action@master
        with:
          access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          registry: ${{ secrets.REGISTRY }}
          cache_from: ${{ secrets.cache }}
          repo: ${{ env.ECR_REPOSITORY }}
          region: ${{ env.AWS_REGION }}
          tags: latest,${{ github.run_number }}
          daemon_off: false
          dockerfile: ./Dockerfile
          context: ./

  DeployToEKS:
    needs: BUILD_AND_PUBLISH
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Get Kube config file
        run: aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.EKS_CLUSTER }}

      - name: Print config file
        run: cat ~/.kube/config

      - name: Login to ECR
        run: |
          SECRET_NAME=regcred
          if kubectl get secret "$SECRET_NAME" >/dev/null 2>&1; then
            echo "Secret '$SECRET_NAME' already exists. Skipping creation."
          else
            kubectl create secret docker-registry "$SECRET_NAME" \
              --docker-server="${{ secrets.REGISTRY }}" \
              --docker-username=AWS \
              --docker-password="$(aws ecr get-login-password)"
          fi

      - name: Check if Helm release exists
        id: check_helm_release
        run: |
          if helm list --namespace default | grep -q vprofile-stack; then
            echo "Release 'vprofile-stack' already exists. Skipping upgrade."
            echo "::set-output name=exists::true"
          else
            echo "::set-output name=exists::false"
          fi

      - name: Deploy application using kubectl
        run: |
          # Replace the following with the path to your Kubernetes manifests
          kubectl apply -f helm/vprofilecharts

